################
# from templar #
################

# build folders for my packages
/out

# deb package build residue
/build
/.pybuild
/debian/
/*.egg-info/
/setup.py

# python
__pycache__
*.pyc
*.pyo

########
# pdmt #
########

# stamps
*.stamp
/.ts.gdbm
/.cfg.gdbm
/.gradle

# docbook stuff
*.pdf
*.fo

/.idea/workspace.xml
