*.o
*.elf
/makot/*

# docbook stuff
*.pdf
*.fo

# stamps
*.stamp
/.ts.gdbm
/.cfg.gdbm
/.gradle

# packaging stuff
/dist/*
/build/*
/deb_dist/*
/debian/pdmt.debhelper.log
/debian/pdmt.substvars
/debian/pdmt/
/debian/patches
/debian/files
/debian/pdmt.*.debhelper
/.pc
/pdmt.egg-info
/build-indep

# created by templar
/debian/changelog
/.attr.config

# build folders for my package
/build.gbp
/build.source
/build.all

# python
__pycache__
*.pyc
*.pyo
