*.pyc
*.pyo
*.o
*.elf
/makot/*

/dist/*
/build/*
/deb_dist/*
/debian/pdmt.debhelper.log
/debian/pdmt.substvars
/debian/pdmt/
/debian/patches
/debian/files
/debian/pdmt.*.debhelper
/.pc
/pdmt.egg-info
/build-indep

# docbook stuff
*.pdf
*.fo

# stamps
*.stamp
/.ts.gdbm
/.cfg.gdbm
