Source: pdmt
Maintainer: Mark Veltzer <mark@veltzer.net>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-pdmt
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Project Dependency Management Tool
 Project Dependency Management Tool long description
