Source: pdmt
Section: devel
Priority: optional
Maintainer: Mark Veltzer <mark@veltzer.net>
Build-Depends: debhelper (>=9), python-support (>= 0.6), python3-all
Standards-Version: 3.9.4

Package: pdmt
Architecture: all
Homepage: http://veltzer.net/pdmt
Depends: ${misc:Depends} ${python:Depends}
Description: project dependency management tool
 Pdmt is a dependency management tool: it helps you build large scale projects.
