#!/usr/bin/make -f

.PHONY: clean
clean:
	rm -f build-*
	python3 setup.py clean
	rm -rf build
	find . -name *\.py[co] -delete;
#	dh_clean build-indep

.PHONY: build-indep
build: build-indep

.PHONY: build-arch
build-arch:

.PHONY: build-indep
build-indep: 
	python3 setup.py build
	touch $@

.PHONY: install
install:
	python3 setup.py install --root debian/pdmt
#	dh_installdirs
#	python3 setup.py install \
#		--single-version-externally-managed \
#		--root $(CURDIR)/debian/pdmt

.PHONY: binary-indep
binary-indep: build install
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_python3
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: binary-arch
binary-arch:

.PHONY: binary
binary: binary-indep
